/vendor
/node_modules
/public/build
composer.phar
composer.lock
package-lock.json
.DS_Store
.idea
.env
/storage/*.key
/storage/logs/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/framework/testing/
/storage/app/imports/
/storage/app/public/
database/database.sqlite
bootstrap/cache/
/tests/
